.discount-market{
    width: 100%;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    .discount-market_wrapper{
        width: 100%;
        max-width: 1400px;
        height: 110px;
        background-color: #EBEEED;
        border-radius: 12px;
        display: flex;
        column-gap: 120px;
        .discount-market_right{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;
            padding-right: 20px;
            .discount-market_right-pic-img{
                border-radius: 50%;
                object-fit: cover;
                width: 58px;
                height: 59px;
            }
            .discount-market_right-svg{
                width: 250px;
            }
            .discount-market_right-_p{
                background-color: #029a49;
                color: whitesmoke;
                font-family: iran;
                font-weight: normal;
                font-size: 14px;
                border-radius: 16px;
                padding: 5px 10px;
            }
        }
        .discount-market_left{
            display: flex;
            align-items: center;
            column-gap: 20px;
            .discount-market_wrapper{
                display: flex;
                align-items: center;
                height: 100%;
                column-gap: 5px;
            }
            .discount-market-contain{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 5px;
                .discount-market-contain_img{
                    width: 70px;
                    height: 70px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .discount-market-contain_span{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 34px;
                        height: 20px;
                        background-color: #d32f2f;
                        border-radius: 16px;
                        color: white;
                        font-family: Iran;
                        font-size: 12px;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                }
            }
            .discount-market_left-more{
                width: 20%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #029a49;
                gap: 10px;
                .discount-market_left-more_span{
                    font-family: iran;
                    font-weight: normal;
                    font-size: 12px;
                    color: #EBEEED;
                }
                .discount-market_left-more_svg{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
.discount-market-more_a{
    width: 140px;
    height: 50px ;
    background-color: #029a49;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 50px;
    text-decoration: none;
    .discount-market-more_img{
        width: 20px;
        height: 20px;
    }
    .discount-market-more_p{
        font-size: 12px;
        font-family: iran;
        font-weight: normal;
        color: whitesmoke;
    }
}