.fixed-supermarket{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 150px;
    height: 50px;
    background-color: #029a49;
    bottom: 20px;
    right:20px ;
    position: fixed;
    z-index: 9999;
    text-decoration: none;
    border-radius: 30px;
    .fixed-supermarket-h2{
        font-family: iran;
        font-size: 16px;
        color: whitesmoke;
        font-weight: normal;
    }
    .fixed-supermarket-basket{
        width: 40px;
        padding-right: 12px;
    }
}