.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  .footer_wrapper {
    width: 100%;
    max-width: 1400px;
    height: 400px;
    border-top: 1px solid var(--border-color);
    padding: 15px 20px;
    .footer_wrapper-top {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      width: 100%;
      padding-top: 10px;
      .footer_wrapper-top_icon-img {
        width: 200px;
      }
      .footer_wrapper-top_go-up {
        position: absolute;
        left: 0;
        width: 120px;
        height: 40px;
        border: 1px solid var(--border-color);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        place-self: center;
        .footer_wrapper-top_go-up_p {
          font-family: iran;
          font-size: 10px;
          font-weight: normal;
          opacity: 0.7;
        }
        .footer_wrapper-top_go-up_svg {
          width: 30px;
          padding-right: 5px;
        }
      }
    }
    .footer_wrapper-title_detail {
      display: flex;
      align-items: center;
      padding-top: 10px;
      justify-content: flex-start;
      .footer_wrapper-title_detail-p {
        font-family: iran;
        font-size: 12px;
        font-weight: normal;
        opacity: 0.7;
      }
      .little-line-footer {
        width: 2px;
        height: 10px;
        margin: 0px 20px;
        background-color: var(--title-color);
      }
    }
    .footer_wrapper-digikala-atributes {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 30px;
      .footer_wrapper-digikala-atributes-slide-1 {
        .footer_wrapper-digikala-atributes-slide-1_img-div {
          display: flex;
          justify-content: center;
        }
        .footer_wrapper-digikala-atributes-slide-1_p {
          font-family: iran;
          font-weight: normal;
          font-size: 10px;
          opacity: 0.7;
          padding-top: 5px;
        }
      }
    }
    .footer_wrapper-detail {
      width: 100%;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-top: 50px;
      .footer_wrapper-detail-part-1 {
        width: 25%;
        height: 100%;
        .footer_wrapper-detail-part-1_h3 {
          font-family: iran;
          font-weight: normal;
          font-size: 14px;
          opacity: 0.8;
        }
        .footer_wrapper-detail-part-1_p {
          font-family: iran;
          font-weight: normal;
          font-size: 12px;
          opacity: 0.6;
          padding-top: 15px;
        }
      }
      .footer_wrapper-detail-part-1_social-media {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 20px;
        padding-top: 15px;
        .footer_wrapper-detail-part-1_social-media_img {
          opacity: 0.4;
        }
      }
      .footer_wrapper-detail-part-4_p {
        font-family: iran;
        font-weight: normal;
        font-size: 16px;
        opacity: 0.9;
        padding-top: 25px;
      }
      .footer_wrapper-detail-part-4-textbox {
        padding-top: 10px;
      }
      .footer_wrapper-detail-part-4-input {
        width: 250px;
        height: 50px;
        background-color: var(--border-color);
        border: none;
        border-radius: 10px;
      }
      .footer_wrapper-detail-part-4_button {
        width: 50px;
        height: 50px;
        background-color: rgb(190, 190, 190);
        border: none;
        border-radius: 10px;
      }
    }
  }
}
.bottom-footer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  .bottom-footer_wrapper {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    padding: 0px 20px;
    .bottom-footer_wrapper_applications {
      background-color: #3c4b6d;
      width: 100%;
      height: 75px;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      padding: 0px 22px;
      .bottom-footer_wrapper_applications_right {
        width: fit-content;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        .bottom-footer_wrapper_applications_right_h2 {
          font-family: iran;
          font-weight: normal;
          font-size: 20px;
          color: #fff;
        }
        .bottom-footer_wrapper_applications_right_img {
          width: 50px;
          border-radius: 10px;
        }
      }
      .bottom-footer_wrapper_applications_left {
        width: fit-content;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .bottom-footer_wrapper_applications_left_item_first_img {
          border-radius: 5px;
        }
      }
    }
    .bottom-footer_wrapper-description{
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      border-top: 1px solid var(--border-color);
      gap: 30px;
      .bottom-footer_wrapper-description_left{
        padding-top: 30px;
        display: flex;
        width: fit-content;
        height: fit-content;
        gap: 10px;
        .bottom-footer_wrapper-description_left_img{
          width:90px;
          padding: 15px;
          border: 1px solid var(--border-color);
          border-radius: 10px;
        }
      }
      .bottom-footer_wrapper-description_right{
        width: fit-content;
        height: fit-content;
          font-family: iran;
          font-weight: normal;
          padding-top: 30px;
          .bottom-footer_wrapper-description_right_h3{
            margin-bottom: 10px;
            font-size: 18px;
            opacity: 0.7;
          }
          .bottom-footer_wrapper-description_right_p{
            font-size: 12px;
            opacity: 0.7;
            margin-bottom: 30px;
          }
          .bottom-footer_wrapper-description_right_btn{
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            align-items: center;
            gap: 5px;
            font-family: iran;
            font-size: 12px;
            color: #25bfd3;
            border: 0;
            background-color: #fff;
            cursor: pointer;
            .bottom-footer_wrapper-description_right_btn_svg{
              width: 20px;
            }
          }


      }

    }
  }
}
.end-footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .end-footer_table {
    width: 100%;
    max-width: 1400px;
    .end-footer_table-first-row {
      background-color: var(--border-color);
      height: 80px;
    }
    .end-footer_table-columns_first_ {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }
}
