.lists {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 0px;
  .lists-wrapper {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
  }
  .lists-container-a{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    .lists-container-a {
      text-decoration: none;
    }
    .lists-container_top-img {
      width: 52px;
      height: 52px;
      object-fit: cover;
    }
    .lists-container_bottom_p {
      font-family: iran;
      font-weight: normal;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 5px;
      color: black;
    }
  }
}
