@import url(./settings.css);
@import url(./root.css);
@import url(./header/header.css);
@import url(./slider.css);
@import url(./story.css);
@import url(./fixed-supermarket.css);
@import url(./lists.css);
@import url(./amazings.css);
@import url(./posters.css);
@import url(./discount-market.css);
@import url(./best-sale.css);
@import url(./login/login.css);
@import url(./footer.css);
@import url(./fixed-support.css);
@import url(./support.css);
@import url(./category.css);
@import url(./long-posters.css);
@import url(logo-list.css);