:root {
  --spacing-base: 4px;
  --global-radius: 8px;
  --small-radius: 4px;
  --medium-radius: 8px;
  --medium-plus-radius: 12px;
  --large-radius: 16px;
  --color-background-low: #f0f0f1;
  --color-app-background:#f2f2f2;
  --title-color: #62666d;
}
