*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: iran;
    src: url(../fonts/IRANYekanWeb-Medium.woff);
    src: url(../fonts/IRANYekanWeb-Medium.woff2);
    src: url(../fonts/IRANYekanWeb-Medium.eot);
    src: url(../fonts/IRANYekanWeb-Medium.ttf);
}
.main{
    width: 100%;
}