.story {
  width: 100%;
  height: 175px;
  display: flex;
  justify-content: center;
  .story__wrapper {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    padding: 0 16px;
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      font-size: 18px;
      background:white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 200px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-button-prev,  .swiper-button-next{
        display: flex;
      width: 40px;
      height: 40px;
      background-color: whitesmoke;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid var(--color-app-background);
    }
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
      font-size: 14px;
      color: #2b2b2b;
    }
    .swiper-button-disabled{
        display: none !important;
      }

      .story_content{
        width: 100%;
        height: 100%;
        .story_content-top{
          width: 100%;
          height: 60%;
          display: flex;
          justify-content: center;
          align-items: flex-end;

          .story_content-top_img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 2px solid crimson;
            padding: 2px;
            img{
              width: 100%;
              height: 100%;
              border-radius: 9999px;
              object-fit: cover;
            }
          }
        }
        .story_content-bottom{
          width: 100%;
          height: fit-content;
          padding-top: 8px;
          h2{
            font-size: 10px;
            font-family: Iran;
            font-weight: normal;
            color: #23254E;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            box-orient: vertical;
            overflow: hidden;
          }
        }
      }
  }
}
.swiper-slide_a{
  text-decoration: none;
}